.spacer {
    flex-grow:1;
}
.wordmark span {
    color: #f26739;
}

body {
    margin:0;
    /* Location of the image */
    background-color: white;
  display:flex;
    flex-direction: column;
    min-height: 100vh;

    font-size: 1em;
    line-height: 1.5;
}
#header {
    display:flex;
    height:100px;
    align-items:center;
    background: white;
    font-family: sans-serif;
    border-bottom: 1px solid #eaecef;
}
#logo {
    height:3em;
    width:3em;
    padding-left: 2.5em;
}
#nav {
    /*display:flex;
    width:50%; */
    padding-left: 1.5rem;
    box-sizing: border-box;
    background-color: #fff;
    white-space: nowrap;
    font-size: .9rem;
    position: absolute;
    right: 1.5rem;
    top: .7rem;
    display: none;
    flex-direction: row;
}
.nav-item {
    width:25%;
    font-weight:100;
    font-size: 1.5em;
    color: black;
    text-decoration:none;
    text-transform: uppercase;
    padding-top: 1em;

    position: relative;
    display: inline-block;
    margin-left: 1.5vw;
    line-height: 2rem;
}
.nav-item:hover, .nav-item:active {
    color: #bb380c;
}

#body {
    text-align: center;
    font-size: 1.2em;
    flex:1;
    display:flex;
    flex-direction:column
}
#body-column{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 1em;
}

#footer {
    display:flex;
    align-items:center;
    color:#ffffff;
    bottom:0;
    background-color: #2d2e2e;
    width:100%;
}
#social-media {
    margin-left:1em;
}
#wordmark {
    font-size:32px;
    margin:0;
}
#occidental {

    font-weight: lighter;
    text-transform: uppercase;
    opacity: 0.6;
    font-size:18px;
    margin:0;
}
#social-links img {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    opacity:0.3;
}
#contact {
    text-align:right;
    font-size: .8em;
    font-weight: 100;
    font-family: sans-serif;
    margin-right:1em;
}
#contact a {
    color:#ffffff;
}

/* --- index.html --- */
#splash {
   /* font-size: 50px; */
   display: inline-block;
  /*  text-transform: uppercase;
    font-weight: bold; */
    margin:auto;
    text-align:left;
  /*  line-height: 100px; */
    text-align: center;
}

.homeText {
    text-align: center;
}

/* --- about.html --- */
#eboard .member {
    display:inline-block;
    min-width: 300px;
}
#eboard .headshot {
    width: 250px;
    height: 250px;
}
#eboard .title {
    font-style: italic;
}
#nav-mob {
    /*display:flex;
    width:50%; */
    padding-left: 1.5rem;
    box-sizing: border-box;
    background-color: #fff;
    white-space: nowrap;
    font-size: .9rem;
    position: absolute;
    right: 1.5rem;
    top: 5em;
    display: none;
    flex-direction: column;
}

/* have this dropdown btn be the default until a certain min-width */
#dropdown-btn {
    right: 1.5rem;
    font-size: 2em;
    position: absolute;
}
/* medium screen width, 1024px */
@media (min-width: 64em) {
    body {
        font-size: calc(1*1.2em);
        line-height: calc(1*1.2);
    }
    #dropdown-btn {
        display: none;
    }

    #nav-mob {
        display: none;
    }
    #nav {
        display: flex;
    }
}

/* large screen width, 1366px */
@media (min-width: 85.375em) {
    body {
        font-size: calc(1*1.3em);
    }
}

/* xlarge screen width, 1920px */
@media (min-width: 120em) {
    body {
        font-size: calc(1*1.4em);
    }
}

/* xxlarge screen width, 2560px */
@media (min-width: 160em) {
    body {
        font-size: calc(1*1.6em);
    }
}

/* xxxlarge screen width, 3200px */
@media (min-width: 200em) {
    body {
        font-size: calc(1*1.8em);
    }
}