{% extends 'base/base.html' %}

{% block content %}
  <div class="mission-statement py-2">
    Our mission is to create an inclusive and collaborative community around Computer Science and provide resources and opportunities for all Oxy students
  </div>
  
  <div class="eboard container-fluid px-4">
    <div class="row justify-content-center">
      {% for member in members %}
      <div class="col-6 col-sm-4col-lg-3 col-xl-2 member px-0">
        <a class="headshot" href="{{ member.ig_eboard }}">
         <img class="img-fluid" src="{{ member.headshot }}"></img>
        </a>
        {{ member.name }}
        <div class="title">
          {{ member.title }}
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}