{% extends 'base/base.html' %}

{% block content %}

<div class="col-12 py-4">
  <h2 class="font-weight-bold">
    What we do at Oxy Open Source
  </h2>

  <div class="activity">
    Throw a social hour every friday
  </div>
  <div class="activity">
    Host an event every two weeks
  </div>
  <div class="activity">
    Oversee the completion of four open-source projects, annually
  </div>
  <div class="activity">
    Hold Workspace, a hub for collaboration, two times a week
  </div>
  <div class="activity">
    Voice student input in CS department meetings
  </div>
</div>

{% endblock %}
