@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.spacer {
    flex-grow:1;
}

.text-highlight {
    color: #f26739;
}

.text-spacer {
    margin-left: 8px;
}

body {
    margin:0;
    background-image: url('../img/2018-0608_JacarandaTrees-07.png');
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}

nav {
    background-color: #fffffd;
}

.nav-img {
    padding: auto 0;
    display: block;
    width: 3.25vh;
    margin: 0.5rem 0 0.5rem 0;
}

.nav-container {
    padding: 0 10vw 0 10vw;
}

.nav-item {
    margin: 0 1rem 0 1rem;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: bold;
}

.email-link {
    color: #f26739;
}

.logo {
    /* height: 6vh; */
    height: 50%;
    width: 50%;
}

.mission-statement {
    font-size: 1.25rem;
}

.content-box{
    min-height: 30vh;
    border-radius: 5px;
    background: #ffffffc0;
}

footer {
    color:#ffffff;
    background-color: #2d2e2e;
}

.text-opensource {
    font-size: 2rem;
}

#social-media {
    margin-left:1em;
}

.landing-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 100px;
    text-align: center;
    display: inline-block;
}

#occidental {

    font-weight: lighter;
    text-transform: uppercase;
    opacity: 0.6;
    font-size:18px;
    margin:0;
}
#social-links img {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    opacity:0.3;
}
#contact {
    text-align:right;
    font-size: 16px;
    font-weight: 100;
    font-family: sans-serif;
    margin-right:1em;
}
#contact a {
    color:#ffffff;
}

/* --- index.html --- */


/* --- about.html --- */
#eboard .member {
    display:inline-block;
}
#eboard .headshot {
    width: 250px;
    height: 250px;
}
#eboard .title {
    font-style: italic;
}


